@font-face {
    font-family: 'sukhumvit_set';
    unicode-range: 'U+0E00–U+0E7F';
    src: url('../fonts/sukhumvitset-bold-webfont.eot');
    src: url('../fonts/sukhumvitset-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sukhumvitset-bold-webfont.ttf') format('truetype'),
        url('../fonts/sukhumvitset-bold-webfont.woff2') format('woff2'),
        url('../fonts/sukhumvitset-bold-webfont.woff') format('woff'),
        url('../fonts/sukhumvitset-bold-webfont.svg#sukhumvit_setbold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'sukhumvit_set';
    unicode-range: 'U+0E00–U+0E7F';
    src: url('../fonts/sukhumvitset-light-webfont.eot');
    src: url('../fonts/sukhumvitset-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sukhumvitset-light-webfont.ttf') format('truetype'),
        url('../fonts/sukhumvitset-light-webfont.woff2') format('woff2'),
        url('../fonts/sukhumvitset-light-webfont.woff') format('woff'),
        url('../fonts/sukhumvitset-light-webfont.svg#sukhumvit_setlight') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'sukhumvit_set';
    unicode-range: 'U+0E00–U+0E7F';
    src: url('../fonts/sukhumvitset-medium-webfont.eot');
    src: url('../fonts/sukhumvitset-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sukhumvitset-medium-webfont.ttf') format('truetype'),
        url('../fonts/sukhumvitset-medium-webfont.woff2') format('woff2'),
        url('../fonts/sukhumvitset-medium-webfont.woff') format('woff'),
        url('../fonts/sukhumvitset-medium-webfont.svg#sukhumvit_setmedium') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'sukhumvit_set';
    unicode-range: 'U+0E00–U+0E7F';
    src: url('../fonts/sukhumvitset-semibold-webfont.eot');
    src: url('../fonts/sukhumvitset-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sukhumvitset-semibold-webfont.ttf') format('truetype'),
        url('../fonts/sukhumvitset-semibold-webfont.woff2') format('woff2'),
        url('../fonts/sukhumvitset-semibold-webfont.woff') format('woff'),
        url('../fonts/sukhumvitset-semibold-webfont.svg#sukhumvit_setsemi_bold') format('svg');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'sukhumvit_set';
    unicode-range: 'U+0E00–U+0E7F';
    src: url('../fonts/sukhumvitset-text-webfont.eot');
    src: url('../fonts/sukhumvitset-text-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sukhumvitset-text-webfont.ttf') format('truetype'),
        url('../fonts/sukhumvitset-text-webfont.woff2') format('woff2'),
        url('../fonts/sukhumvitset-text-webfont.woff') format('woff'),
        url('../fonts/sukhumvitset-text-webfont.svg#sukhumvit_settext') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'sukhumvit_set';
    unicode-range: 'U+0E00–U+0E7F';
    src: url('../fonts/sukhumvitset-thin-webfont.eot');
    src: url('../fonts/sukhumvitset-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sukhumvitset-thin-webfont.ttf') format('truetype'),
        url('../fonts/sukhumvitset-thin-webfont.woff2') format('woff2'),
        url('../fonts/sukhumvitset-thin-webfont.woff') format('woff'),
        url('../fonts/sukhumvitset-thin-webfont.svg#sukhumvit_setthin') format('svg');
    font-weight: 300;
    font-style: normal;

}