$font-base-size: 16;

// color
$color_primary: #FE976E;
$color_white: #ffffff;
$color_black: #000000;

// breakpoint
$desktop-xl: 1680;
$desktop-md: 1480;
$desktop-xs: 1199;
$tablet-xl: 1080;
$tablet-md: 991;
$tablet-xs: 768;
$mobile-xl: 767;
$mobile-md: 576;
$mobile-xs: 380;