// color
$color_primary: #FE976E;
$color_primary_dark: #EE5B47;
$color_secondary: #414b5a;
$color_purple: #9945CF;
$color_white: #ffffff;
$color_black: #000000;
$color_background: #ffffff;
$color_accordion: #FFF6F5;
$color_beginner: #9D1300;
$color_agent: #002D71;
$color_master: #985604;
$color_senior: #AB0035;
$color_super: #DC6F10;
// color text
$color_text_primary: #414B5A;
$color_text_secondary: #FE976E;
// color indicator
$color_success: #41C16D;
$color_warning: #FFC559;
$color_danger: #EA3A31;
// color gradient
$color_gradient: linear-gradient(to bottom, #FFE598, #FE976E);

// breakpoint
$desktop-xl: 1680px;
$desktop-md: 1480px;
$desktop-xs: 1199px;
$tablet-xl: 1080px;
$tablet-md: 992px;
$tablet-xs: 768px;
$mobile-xl: 767px;
$mobile-md: 576px;
$mobile-xs: 380px;