@import 'variables';

.aboutus-jumbotron-background {
  padding-top: 27.34%;

  &.mobile {
    padding-top: 42.13%;
    display: none;
  }

  @media (max-width: $mobile-md) {
    display: none;

    &.mobile {
      display: block;
    }
  }
}

.aboutus-description-background {
  background-image: url("../images/aboutus/bg_description.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $color_white;

  .aboutus-description-container {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 24px;
  }

  .aboutus-description-title {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 15px;

    p {
      font-weight: 700;
    }
  }

  @media (max-width: $tablet-xl) {
    .aboutus-description-container {
      padding-top: 75px;
      padding-bottom: 75px;
      font-size: 18px;
    }

    .aboutus-description-title {
      font-size: 24px;
    }
  }
  
  @media (max-width: $mobile-md) {
    .aboutus-description-container {
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 14px;
    }

    .aboutus-description-title {
      display: block;
      font-size: 16px;

      img {
        max-width: 110px;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: $mobile-xs) {

    .aboutus-description-title {
      
      img {
        margin-bottom: 15px;
      }
    }
  }
}

.aboutus-timeline-container {
  margin-bottom: 60px;

  .timeline-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .timeline-nav-content {
      flex: 1;

      .nav-image {
        max-width: 425px;
        margin: auto;
        
        img {
          width: 100%;
        }
      }
    }

    .timeline-nav-tablist {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      height: 425px;

      .timeline-nav-items {
        position: relative;
        margin: auto 0;

        .nav-text {
          display: flex;
          align-items: center;

          .nav-text-icon {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 80px;
            
            svg {
              height: 100%;
              width: 100%;
              object-fit: contain;
              g {
                transition: 0.25s;
              }
              path {
                transition: 0.25s;
              }
            }
          }

          span {
            font-size: 24px;
            transition: 0.25s;
          }
        }

        &::after {
          content: '';
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 55px;
          transform: translateY(-50%);
          height: 60px;
          width: 30px;
          background-image: url("../images/aboutus/slider-tab-arrow.png");
          border-radius: 0px 100px 100px 0px;
          transition: 0.25s;
        }

        &.active {
          

          .nav-text {

            .nav-text-icon {
              
              svg {
                g {
                  opacity: 1;
                }
                path {
                  fill: $color_primary_dark;
                  opacity: 1;
                }
              }
            }
            span {
              color: $color_primary_dark;
            }
          }
        }

        &.active::after {
          content: '';
          opacity: 1;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 55px;
        height: 100%;
        width: 5px;
        background-color: $color_primary;
        filter: drop-shadow(3px 0px 6px rgba(0, 0, 0, 0.161));
      }
    }

    @media (max-width: $tablet-xl) {
      .timeline-nav-content {
        flex: 4.5;
      }

      .timeline-nav-tablist { 
        flex: 5.5;
        padding-left: 20px;

        .timeline-nav-items {

          .nav-text {

            .nav-text-icon {
              margin-right: 60px;
            }

            span {
              font-size: 19px;
            }
          }
        }

        &::after {
          left: 75px;
        }
      }
    }

    @media (max-width: $mobile-md) {
      display: none;
    }
  }

  .timeline-slider-wrapper {
    display: none;

    .slider-image {
      max-width: 425px;
      margin: auto;
  
      img {
        width: 100%;
      }
    }
  
    .slider-text {
      display: flex;
      align-items: center;
      justify-content: center;
  
      .slider-text-icon {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      
      span {
        font-size: 24px;
      }
    }
  }

  @media (max-width: $mobile-md) {
    padding-left: 0;
    padding-right: 0;

    .timeline-slider-wrapper {
      display: block;

      .slider-text {
        margin: 20px auto;
  
        .slider-text-icon {
          height: 30px;
          width: 30px;
        }
      
        span {
          font-size: 18px;
        }
      }
  
      .timeline-slider-items {
        opacity: 0;
        transition: 0.125s;
  
        &.slick-current,
        &.slick-active {
          opacity: 1;
        }
      }
    }
  }
}

.aboutus-whyus-container {
  margin-top: 80px;
  margin-bottom: 80px;

  .aboutus-whyus-title {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 50px;

    p {
      font-weight: 700;
    }

    img {
      margin-left: 15px;
    }
  }

  .aboutus-whyus-items {
    text-align: center;

    .aboutus-whyus-items-images {
      display: flex;
      margin: auto;
      max-width: 250px;
      height: 210px;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .aboutus-whyus-items-text {
      font-size: 24px;
    }

    .aboutus-whyus-items-subtext {
      font-size: 15px;
      opacity: 0.5;
    }
  }

  @media (max-width: $tablet-xl) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-md) {
    margin-top: 20px;
    margin-bottom: 20px;

    .aboutus-whyus-title {
      font-size: 18px;
      display: block;
      text-align: center;

      img {
        max-width: 150px;
        width: 100%;
      }
    }

    .aboutus-whyus-items {
      margin-bottom: 25px;

      .aboutus-whyus-items-images {
        margin-bottom: 15px;
      }

      .aboutus-whyus-items-text {
        font-size: 18px;
      }

      .aboutus-whyus-items-subtext {
        font-size: 13px;
      }
    }
  }

  @media (max-width: $mobile-xs) {
    .aboutus-whyus-items {

      .aboutus-whyus-items-images {
        max-width: 200px;
      }
    }
  }
}

.aboutus-howto-background {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url("../images/aboutus/bg_whatis_howto.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $color_white;

  .aboutus-howto-container {
    max-width: 954px;
    margin-left: auto;
    margin-right: auto;
  }

  .howto-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 38px;
    font-weight: 700;
    
    span {
      font-weight: 700;
    }
  }

  .howto-slider-container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .howto-slider-items {
    font-size: 24px;
    text-align: center;
    font-weight: 700;

    .howto-slider-items-images {
      max-width: 200px;
      margin: auto;

      img {
        width: 100%;
      }
    }

    p {
      margin-top: 30px;
    }
  }

  @media (max-width: $tablet-xl) {
    .howto-title-wrapper {
      font-size: 28px;
    }

    .howto-slider-items {
      font-size: 20px;

      .howto-slider-items-images {
        max-width: 150px;
      }

      p {
        margin-top: 20px;
      }
    }
  }

  @media (max-width: $mobile-md) {

    .howto-title-wrapper {
      font-size: 14px;

      img {
        max-width: 150px;
        width: 100%;
      }
    }

    .howto-slider-items {
      font-size: 18px;
      opacity: 0.5;
      transition: 0.125s;

      &.slick-current,
      &.slick-active {
        opacity: 1;
      }
    }
  }

  @media (max-width: $mobile-xs) {

    .howto-title-wrapper {
      font-size: 14px;

      img {
        max-width: 100px;
      }
    }
  }
}