@import "variables";

.header-content {
  font-family: 'sukhumvit_set', sans-serif;
  color: $color_white;
  background-color: $color_primary;

  .header-wrapper {
    padding: 0;
  }

  .nav-item {
    margin: 0;

    &:first-child {
      margin-left: 0;
    }
  }

  .nav-link {
    color: transparentize($color_white, 0.25) !important;
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;

    &:hover,
    &.active {
      color: $color_primary_dark !important;
      background-color: $color_white !important;
    }
  }

  @media (min-width: $desktop-xl) {
    width: 180px;
    height: 70px;
  }
}

.navbar-brand {
  max-width: 138px;
  min-width: 138px;
  margin-right: 20px;
  padding: 0;

  img {
    width: 100%;
  }
}