@import 'variables';

.index-slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px !important;

  @media (max-width: $tablet-xl) {
    height: 350px !important;
  }

  @media (max-width: $mobile-md) {
    height: 150px !important;
  }
}

.first-slider {

  .hero-text-container {
    display: flex;
    width: 545px;
    height: 255px;
  }

  .hero-image-container {
    display: flex;
    width: 602px;
    height: 400px;
  }

  @media (max-width: $tablet-xl) {
    .hero-text-container {
      width: 381.5px;
      height: 178.5px;
    }

    .hero-image-container {
      width: 421.4px;
      height: 280px;
    }
  }

  @media (max-width: $mobile-md) {
    .hero-text-container {
      width: 163.5px;
      height: 76.5px;
    }

    .hero-image-container {
      width: 180.6px;
      height: 120px;
    }
  }

  .hero-text {
    padding-top: 46.78%;
  }

  .hero-image {
    padding-top: 66.44%;
  }
}

.second-slider {
  justify-content: center;

  .hero-text-container {
    display: flex;
    width: 680px;
    height: 379px;
    margin-left: 2rem;
  }

  .hero-image-container {
    display: flex;
    width: 348px;
    height: 431px;
  }

  @media (max-width: $tablet-xl) {
    .hero-text-container {
      width: 476px;
      height: 265.3px;
    }

    .hero-image-container {
      width: 243.6px;
      height: 301.7px;
    }
  }

  @media (max-width: $mobile-md) {
    .hero-text-container {
      width: 204px;
      height: 113.7px;
    }

    .hero-image-container {
      width: 104.4px;
      height: 129.3px;
    }
  }

  .hero-text {
    padding-top: 55.73%;
  }

  .hero-image {
    position: relative;
    width: 100%;
    padding-top: 80.74%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.third-slider {
  justify-content: center;

  .hero-image-container {
    display: flex;
    height: 507px;
    width: 1382px;
  }

  @media (max-width: $tablet-xl) {
    .hero-image-container {
      height: 354.9px;
      width: 967.4px;
    }
  }

  @media (max-width: $mobile-md) {
    .hero-image-container {
      height: 152.1px;
      width: 414.6px;
    }
  }

  .hero-image {
    padding-top: 36.68%;
  }
}

.fourth-slider {
  justify-content: center;

  .hero-image-container {
    display: flex;
    height: 405px;
    width: 815px;
  }

  .hero-text-container {
    display: flex;
    height: 461px;
    width: 449px;
  }

  @media (max-width: $tablet-xl) {
    .hero-image-container {
      height: 283.5px;
      width: 570.5px;
    }

    .hero-text-container {
      height: 322.7px;
      width: 314.3px;
    }
  }

  @media (max-width: $mobile-md) {
    .hero-image-container {
      height: 121.5px;
      width: 244.5px;
    }

    .hero-text-container {
      height: 138.3px;
      width: 134.7px;
    }
  }

  .hero-image {
    padding-top: 49.69%;
  }

  .hero-text {
    padding-top: 97.39%;
  }
}

.banner-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-image: url("../images/index/banner/bg_section3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;

  .banner-images-container {
  
    .banner-images {
      padding-top: 67.87%;
    }
  }

  .banner-text-container {
    color: $color_white;
    text-align: center;

  }

  .banner-text-title {
    font-size: 36px;
    font-weight: 700;
  }

  .banner-text-subtitle {
    font-size: 24px;
    font-weight: 700;
  }
  
  .banner-logo-title {
    font-size: 24px;
    font-weight: 500;
  }

  .banner-logo {
    display: flex;
    align-items: end;
    justify-content: center;
  
    .banner-logo-images {
      max-width: 230px;
      margin-left: 10px;
  
      img {
        width: 100%;
      }
    }
  }

  @media (max-width: $tablet-xl) {
    padding-top: 25px;
    padding-bottom: 25px;

    .banner-text-title {
      font-size: 22px;
      font-weight: 700;
    }

    .banner-text-subtitle {
      font-size: 18px;
      font-weight: 700;
    }
    
    .banner-logo-title {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      font-size: 14px
    }
  }

  @media (max-width: $mobile-md) {
    .banner-logo {
      .banner-logo-images {
        max-width: 170px;
      }
    }
  }
}

.benefit-container {
  max-height: 578px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  background-image: url("../images/index/banner/background_01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .benefit-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 474px;
    width: 624px;
  
    .benefit-image {
      padding-top: 75.96%;
    }
  }
  
  @media (max-width: $tablet-xl) {
    padding-top: 25px;
    padding-bottom: 25px;
    max-height: 450px;

    .benefit-image-container {
      height: 400px;
      width: 100%;
    }
  }
  
  @media (max-width: $mobile-md) {
    display: none;
  }
}

.benefit-container-mobile {
  padding: 16px 25px;
}

.benefit-wrapper {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;

  .benefit-logo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    border-radius: 50%;
    background: linear-gradient(135deg, #EEF1F2 15%, #F3F7F7 85.6%);

    &.border-invest {
      border-color: #C85E34;
    }

    &.border-salary {
      border-color: #EE5B47;
    }

    &.border-income {
      border-color: #FDAA89;
    }

    &.border-guarantee {
      border-color: #FE976E;
    }

    &.border-member {
      border-color: #9F3A2C;
    }
  }

  .benefit-timeline-dots {
    position: relative;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-radius: 50%;

    &.no-border {

      &:after {
        border: 0;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -65px;
      height: 60px;
      border-right: 2px dashed;
    }

    &.border-invest {
      border-color: #C85E34;
    }

    &.border-invest:after,
    &.border-salary {
      border-color: #EE5B47;
    }

    &.border-salary:after,
    &.border-income {
      border-color: #FDAA89;
    }

    &.border-income:after,
    &.border-guarantee {
      border-color: #FE976E;
    }

    &.border-guarantee:after,
    &.border-member {
      border-color: #9F3A2C;
    }
  }

  .benefit-circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;

    &.background-invest {
      background-color: #C85E34;
    }

    &.background-salary {
      background-color: #EE5B47;
    }

    &.background-income {
      background-color: #FDAA89;
    }

    &.background-guarantee {
      background-color: #FE976E;
    }

    &.background-member {
      background-color: #9F3A2C;
    }
  }

  .benefit-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.special-offer-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-image: url("../images/index/special-offer/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.join-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;

  span {
    font-size: 24px;
    font-weight: 700;
    margin-right: 25px;
    color: $color_purple;
  }

  @media (max-width: $tablet-xl) {
    span {
      font-size: 18px;
    }
  }

  @media (max-width: $mobile-md) {
    text-align: center;
    display: block;

    span {
      margin-right: 0;
    }

    a {
      margin: auto;
    }
  }
}