@import 'variables';

.landing-page-background {
  min-height: 100vh;
  background-image: url("../images/login-register/background_01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page-container {
  max-width: 916px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 25px;

  @media (max-width: $tablet-md) {
    max-width: 720px;
  }

  @media (max-width: $mobile-md) {
    max-width: 100%;
    min-height: 100vh;
    border-radius: 0;
  }
}

.landing-page-header {
  position: relative;
  height: 140px;
  border: 0;
  background: $color_white;
  background-image: url("../images/login-register/bg_wave.png");
  background-image: url("../images/login-register/bg_wave.png"), linear-gradient(180deg, rgba(254, 151, 110, 1) 50%, rgba(255, 255, 255, 1) 50%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 255px;
    width: 100%;
  }

  .landing-page-flag {
    position: absolute;
    right: 40px;
    top: 25%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $mobile-md) {
    height: 100px;
    background-image: url("../images/login-register/bg_wave.png"), linear-gradient(180deg, rgba(254, 151, 110, 1) 75%, rgba(255, 255, 255, 1) 75%);

    img {
      max-width: 150px;
    }

    .landing-page-flag {
      right: 10px;
    }
  }
}

.landing-page-body {
  padding: 15px 0;
  background-color: $color_white;
  display: flex;

  @media (max-width: $mobile-md) {
    height: calc(100vh - 100px);
  }
}

.landing-page-body-image {
  flex: 6;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }
}

.landing-page-body-form {
  flex: 4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.landing-form-wrapper {
  text-align: center;
  padding-top: 15px;
  padding-right: 40px;
  margin-bottom: 175px;

  h1 {
    font-size: 24px;
  }

  @media (max-width: $tablet-md) {
    padding-left: 40px;
  }

  @media (max-width: $mobile-md) {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-xs) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.landing-page-contact {
  text-align: center;
  font-size: 12px;
}

.landing-form-group {
  margin-top: 30px;
  margin-bottom: 20px;

  @media (max-width: $mobile-md) {
    margin-top: 20px;
  }
}

.form-group-custom {

  .input-group-prepend {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid $color-border;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    .input-group-text {
      height: 100%;
    }
  }

  .form-control {
    border: 1px solid $color-border;
    border-left: 0;
    height: 44px;
    border-radius: 10px;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: $color_secondary;
      font-size: 12px;
      opacity: 0.5;
    }
  }

  &.active {

    .input-group-prepend,
    .form-control {
      border-color: $color_primary;
    }
  }
}

.form-warning-text {
  display: flex;
  text-align: left;
  margin-top: 10px;

  img {
    margin-right: 5px;
  }

  p {
    font-size: 12px;
    color: $color-danger;
  }
}

.landing-option-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  .option-group {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-decoration: none;

    img {
      max-width: 15px;
      width: 100%;
      margin-right: 5px;
      margin-bottom: 3px;
    }
  }

  @media (max-width: $mobile-md) {
    margin-bottom: 20px;
  }
}

.landing-page-register {
  margin-top: 30px;
}