@import 'variables';

.jumbotron-website-container {
  padding-top: 26.87%;
  background-image: linear-gradient(180deg, #FE976E 0%, #FFE598 100%);

  @media (max-width: $mobile-md) {
    padding-top: 126.13%;
  }
}

.website-content-container {
  display: flex;

  .image-content {
    flex: 6;

    img {
      width: 100%;
    }
  }

  .text-content {
    display: flex;
    align-items: center;
    flex: 4;

    >div {
      width: 80%;
      margin: auto;
      text-align: center;
    }

    .text-highlight {
      font-size: 36px;
      font-weight: 700;
      color: $color_primary_dark;
    }

    p {
      font-size: 24px;
    }
  }

  .image-content-text {
    max-width: 180px;
    margin: auto;

    img {
      width: 100%;
    }
  }

  @media (max-width: $tablet-xl) {
    padding: 15px 0;

    .image-content {
      flex: 1;
    }

    .text-content {
      flex: 1;

      >div {
        padding: 16px;
        width: 100%;
      }

      .text-highlight {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }

    .image-content-text {
      max-width: 150px;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: $mobile-md) {
    flex-direction: column;

    .image-content {
      order: 1;
    }

    .text-content {
      order: 2;
    }
  }

  @media (max-width: $mobile-xs) {
    .text-content {

      .text-highlight {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

.website-promote-container {
  text-align: center;
  padding: 40px 16px;
  background-image: url("../images/website/cta.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  >div {
    max-width: 813px;
    margin: auto;
  }

  .text-highlight {
    font-size: 36px;
    font-weight: 700;
  }

  p {
    font-size: 24px;
  }

  @media (max-width: $tablet-xl) {
    .text-highlight {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }

  @media (max-width: $mobile-xs) {
    .text-highlight {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }
}

.websit-list-container {

  @media (min-width: $desktop-xs) {
    max-width: 1111px !important;
  }

  @media (max-width: $mobile-md) {
    padding: 0;
  }
}

.website-list-wrapper {
  border-top: 8px solid $color_primary;
  padding: 20px 60px 100px 60px;
  margin-bottom: 20px;
  background-color: $color_card_bg;
  border-radius: 0px 0px 35px 35px;

  .text-title {
    font-size: 36px;
    font-weight: 700;
    color: $color_primary_dark;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
  }

  @media (max-width: $tablet-xl) {
    .text-title {
      font-size: 24px;
    }
  }

  @media (max-width: $mobile-md) {
    padding: 20px 30px;

    .text-title {
      font-size: 18px;
      text-indent: 20px;
    }
  }

  @media (max-width: $mobile-xs) {
    padding: 20px;

    .text-title {
      font-size: 16px;
    }
  }
}

.website-icon-wrapper {
  display: flex;
  flex-wrap: wrap;

  .website-icon-items {
    flex: 0 0 auto;
    width: 80px;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 16px;

    img {
      width: 100%;
    }

    @media (max-width: $tablet-xl) {
      width: 75px;
    }

    @media (max-width: $mobile-md) {
      width: 20%;
    }

    @media (max-width: $mobile-xs) {
      width: 25%;
    }
  }
}

.website-image-card-wrapper {
  display: flex;
  margin: auto;
  max-width: 300px;

  img {
    width: 100%;
  }

  @media (max-width: $mobile-md) {
    max-width: 200px;
    margin-top: 20px;
  }
}

.website-tab-container {
  display: flex;
  align-items: center;
  margin: 15px 0;

  .website-tab-wrapper {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  .website-tab-items {
    margin: 0 20px;
    max-width: 60px;
    text-align: center;
  }

  .website-tab-logo {
    max-width: 70px;
  }

  img {
    width: 100%;
  }

  @media (max-width: $mobile-md) {
    padding: 0 20px;
    flex-wrap: nowrap;

    .website-tab-wrapper {
      flex: auto;
      margin-left: 0;
      justify-content: space-between;
    }

    .website-tab-items {
      margin: 0 15px;
    }
  }
}


.website-tab-trigger {
  cursor: pointer;

  &.active {
    color: $color_primary_dark;
  }
}