<div class="header-content">
  <div class="container-xxl container-fluid">
    <nav class="navbar navbar-expand-xl header-wrapper">
      <a class="navbar-brand" href="index.html">
        <img src="./images/logo.svg" alt="logo" />
      </a>
      <div id="navbar-toggle" class="navbar-button">
        <img src="./images/navbar.svg" alt="navbar">
      </div>
      <div class="navbar-wrapper">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="about_us" class="nav-link" href="#">affiliate+ คืออะไร</a>
          </li>
          <li class="nav-item">
            <a id="revenue" class="nav-link" href="revenue.html">ส่วนแบ่งรายได้</a>
          </li>
          <li class="nav-item">
            <a id="website" class="nav-link" href="website.html">เว็บไซต์ที่ให้บริการ</a>
          </li>
          <li class="nav-item">
            <a id="faq" class="nav-link" href="faq.html">คำถามที่พบบ่อย</a>
          </li>
          <li class="nav-item">
            <a id="contact_us" class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#contactModal">ติดต่อเรา</a>
          </li>
        </ul>
        <div class="d-flex">
          <a class="btn btn-outline-register me-3" href="#">เข้าสู่ระบบ</a>
          <a class="btn btn-register" href="#">สมัครสมาชิก</a>
        </div>
      </div>
      <div class="navbar-wrapper-mobile">
        <ul class="navbar-wrapper-mobile-list">
          <li class="navbar-mobile-item">
            <a id="mobile-about_us" class="navbar-mobile-link" href="#">
              <img src="./images/header/icon_aff.svg" alt="navbar-aff">
              <span>affiliate+ คืออะไร</span>
            </a>
          </li>
          <li class="navbar-mobile-item">
            <a id="mobile-revenue" class="navbar-mobile-link" href="revenue.html">
              <img src="./images/header/icon_money.svg" alt="navbar-revenue">
              <span>ส่วนแบ่งรายได้</span>
            </a>
          </li>
          <li class="navbar-mobile-item">
            <a id="mobile-website" class="navbar-mobile-link" href="website.html">
              <img src="./images/header/icon_web.svg" alt="navbar-website">
              <span>เว็บไซต์ที่ให้บริการ</span>
            </a>
          </li>
          <li class="navbar-mobile-item">
            <a id="mobile-faq" class="navbar-mobile-link" href="faq.html">
              <img src="./images/header/icon_question.svg" alt="navbar-faq">
              <span>คำถามที่พบบ่อย</span>
            </a>
          </li>
          <li class="navbar-mobile-item">
            <a id="mobile-contact_us" class="navbar-mobile-link" href="#" data-bs-toggle="modal" data-bs-target="#contactModal">
              <img src="./images/header/icon_contact.svg" alt="navbar-contact">
              <span>ติดต่อเรา</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>